<template>
    <div>
        <select-building
                v-if="modals.isSelectBuilding"
                :is-open="modals.isSelectBuilding"
                @close="modals.isSelectBuilding = false">
        </select-building>
        <el-form>
            <el-col :span="24">
                <h4>Adding new Organization</h4>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Name in Kk">
                    <el-input v-model="form.nameKk"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Name in Ru">
                    <el-input v-model="form.nameRu"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="types">
                    <el-select v-model="form.type" value-key="key">
                        <el-option v-for="t in orgTypes"
                                   :key="t.key"
                                   :label="t.name"
                                   :value="t.key"
                        ></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-button @click="modals.isSelectBuilding = true">select a building</el-button>
            </el-col>
            <el-col :span="24">
                <el-button @click="cancel">back</el-button>
                <el-button @click="save">save</el-button>
            </el-col>
        </el-form>
    </div>
</template>

<script>
    import {DictionaryMixin} from "../../mixins/DictionaryMixin";
    import API from "../../services/api.service";
    import SelectBuilding from "./SelectBuilding";

    export default {
        name: "AddOrganization",
        components: {SelectBuilding},
        mixins: [DictionaryMixin],
        data(){
            return {
                modals: {
                  isSelectBuilding: false,
                },
                form: {
                    id: null,
                    nameKk: null,
                    nameRu: null,
                    nameEn: null,
                    type: null,
                    deleted: false,
                    latitude: 10.002,
                    longitude: 10.004,
                },
                orgTypes: [],
            }
        },
        created() {
            this.buildDictionaries();
        },
        methods: {
            async buildDictionaries() {
                console.log(await this.getDictionary(this.dictionaries.ORGANIZATION_TYPES))
                this.orgTypes = await this.getDictionary(this.dictionaries.ORGANIZATION_TYPES);
            },
            cancel(){
                this.$router.go(-1)
            },
            async save(){
                let res = API.organization.create(this.form);
            }
        }
    }
</script>

<style scoped>

</style>