<template>
    <div class="main-form">
        <el-form>
            <p>org main</p>
            <el-form-item>
                <base-button size="big" @click="addOrganization">Add new organization</base-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
    export default {
        name: "OrganizationMain",
        data(){
            return {

            }
        },
        methods: {
            addOrganization(){
                this.$router.push({
                    name: 'add-organization'
                })
            }
        }
    }
</script>

<style scoped>

</style>