<template>
    <el-dialog v-if="isOpen" :visible.sync="isOpen" center fullscreen :before-close="closeModal">
        <div>
            <yandex-map
                    :coords="currentCoordinates"
                    zoom=10>
                <!--Markers-->
                <ymap-marker
                        marker-id="123"
                        :coords="defaultCoordinates"
                />
            </yandex-map>

        </div>
    </el-dialog>
</template>

<script>
    import { yandexMap, ymapMarker } from 'vue-yandex-maps'
    export default {
        name: "SelectBuilding",
        components: { yandexMap, ymapMarker },
        props: ['isOpen', 'coordinates'],
        data(){
            return {
                currentCoordinates: [],
                defaultCoordinates: [54.82896654088406, 39.831893822753904],
            }
        },
        created() {
            if (this.currentCoordinates && this.currentCoordinates.length === 0){
                this.currentCoordinates = this.defaultCoordinates;
            }
        },
        methods: {
            closeModal(){
                this.$emit('close')
            }
        }
    }
</script>

<style scoped>
    .ymap-container {
        height: 100%;
    }
</style>